name: Build ZMK Firmware

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build:stable
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: Build Photon
        run: west build -s zmk -b canonkeys_photon
